language: ruby
rvm:
- 2.7
- 2.6
- '3.0'
sudo: false
before_install:
  - gem update --system
  - gem install bundler
deploy:
  provider: rubygems
  api_key:
    secure: cIDF27JCirxxg7SXw6R+xxABMwCrrirJiJzljVxb/MdlRyUVaSW8XdZjOVyNgJkCx+vQOX4U+hp+p0xVI/Loh4EXkgbDvu2oGIAn/g1lfWabwKtdkFEviQn4tWvqDcEkxm5Hm6Gs0pFCaurqynMPNbsLVAEIiSw+la8LxEeeQ6I=
  gem: cfndsl
  on:
    tags: true
    repo: cfndsl/cfndsl
notifications:
  email:
    recipients:
    - gergnz@gmail.com
    on_failure: change
    on_success: never
